<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>therapy-sap</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>SupWithSap!</h1>
        <div id="recorder-container">
            <div id="audio-sphere"></div>
        </div>
        <div id="status"></div>
        <button id="new-session">New Session</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>